src/main/mule/world_demo_api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c55ca3a4-7397-4784-b76b-6d6264a35e2a" basePath="/timezone" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="7d48b758-22ba-4cbb-bf83-ae90fbce5b95" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<flow name="world_demo_apiFlow" doc:id="5152bed9-06c5-4a7c-9d21-ef8b10d289c8" >
		<http:listener doc:name="Listener" doc:id="8056e847-bab8-4cdf-913d-639ee1a43cb9" config-ref="HTTP_Listener_config" path="/{region}/{city}" allowedMethods="GET"/>
		<http:request method="GET" doc:name="Request" doc:id="5ed9c55e-7b7b-41a4-9f01-e35cc7b5078e" config-ref="HTTP_Request_configuration" path="/{region}/{city}" sendCorrelationId="AUTO">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	city : attributes.uriParams.city,
	region : attributes.uriParams.region
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
